/*collapsed sidepanel*/
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* kết thúc sidepanel*/
/*style các nút*/
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
/*các folder lớp học*/
.container-fluid{
  margin-top: 10px;
}


/* subject*/

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .dropdown-item{
    padding: auto;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
        .topnav a, .topnav-right {
        float: none;
        display: block;
        }
  
        .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        }
    
    }
    
      /*phần bar mở ra*/
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }
    /*sidepanel*/
    .sidebar {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0;
      left: 0;
      background-color: rgb(255, 255, 255); /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    }
    
    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      background-color: rgb(167, 161, 161);
    }
    
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .topnav .sidebar{
      background-color: rgb(119, 115, 115);
    }
    /* The button used to open the sidebar */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
    }
    
    .openbtn:hover {
      background-color: #444;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s; /* If you want a transition effect */
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
    }
     /* Style the links inside the navigation bar */
     .topnav a  {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    

    /*css phần body*/
    


    /*tạo lớp học*/
   
    
    /* Add padding to containers */
    
    .create:hover {
      opacity: 1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }
  
    
    
    
    .form{
      margin: auto;
      width:40%;
      border: 1px solid silver;
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
  }
  
  .item_form1{
     padding: 5%;
  }
  .form1{
      margin: auto;
      width: 40%;
      padding-top: 3%;
  }
  .Change_Account{
      margin: auto;
      border: 1px solid silver;
      border-radius: 10px;
      color: blue;
  }
  .Change_Account:hover{
      background-color: rgb(200, 196, 250);
  }
  
  
  
  

  /* login */
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 40px;
}

.bg{
    background: url('../page_login/a1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.row-container {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
}
/* login */

/* forgotpassword */
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
}

.forgot{
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    margin-top: 20px;
}
.for{
    background: url('../page_login/forgot.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.form-group{
    padding: 14px 20px;
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
  }